$component-name: "navbar";
.#{$component-name} {
  @media screen and (max-width: 991px) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }

  ul {
    list-style: none;

    li {
      position: relative;
      float: left;

      @media screen and (max-width: 991px) {
        width: 100%;
      }

      a {
        font-size: 20px;
        padding: 20px;
        box-sizing: border-box;
        color: #333;
        display: block;
        text-decoration: none;

        &:hover {
          background-color: #333;
          color: #fff;
        }
      }

      ul {
        position: absolute;
        left: 0;
        background-color: #fff;
        width: 200px;
        display: none;

        @media screen and (max-width: 991px) {
          position: relative;
          width: 100%;
        }

        li {
          width: 100%;
          border-top: 1px solid rgba(0, 0, 0, 0.1);

          @media screen and (max-width: 991px) {
            background-color: #ccc;
          }

          ul {
            left: 200px;
            top: 0;

            @media screen and (max-width: 991px) {
              width: 100%;
              left: 0;
            }

            li {
              @media screen and (max-width: 991px) {
                background-color: #eee;
              }
            }
            
          }
        }
      }

      @media screen and (min-width: 992px) {
        &:focus-within > ul,
        &:hover > ul {
          display: initial;
        }
      }

      @media screen and (max-width: 991px) {
        &:focus-within > ul {
          display: initial;
        }
      }

    }
  }
}
